<aside>
    <h3>Die verfügbare Bücher</h3>
    <ul>
        <a href="/ebook-katalog">
            <li>Technische Informatik 1</li>
        </a>
        <a href="/ebook-katalog">
            <li>Das Cafe am Runde der Welt</li>
        </a>
        <a href="/ebook-katalog">
            <li>The Bes Websites to learn Pyton</li>
        </a>
        <a href="/ebook-katalog">
            <li>Weltbester Informatik Student</li>
        </a>
        <a href="/ebook-katalog">
            <li>Duden Informatik S1 Informatik Grundlagen</li>
        </a>
        <a href="/ebook-katalog">
            <li>Clean Code</li>
        </a>
    </ul>
</aside>