<header>
    <h1>DiGiLAB</h1>
    <div class="nav">
        <ul>
            <li><a href="eBook-einlegen">eBook Einlegen</a></li>
            <li><a href="ebook-katalog">eBooks Katalog </a></li>
            <li><a href="mybooks">Meine eBooks</a></li>
            <li><a href="login">Ausloggen</a></li>
        </ul>

    </div>
</header>