<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <div class="container"></div>
    <div class="box" method="post">
        <h1 style="color: lightcoral; font-size: 5rem;">404 Error</h1>
        <h1>Sorry <i style="color: lightcoral;">:(</i> </h1>
       
       <h1 style="line-height: 4rem;"><%= msg %></h1>
    </div>
    <%- include("includes/footer") %>
    <script type="text/javascript" src="js/login.js"></script>
</body>

</html>